/*GLOBAL SETTINGS*/
/*This design was inspired by the How&How webpage:
https://how.studio/ */

/* RGB(VERDE) 105 167 59 */
/* RGB(LIGHT GRAY) 106 105 105 */
/* RGB(DARK GRAY) 85 84 84 */

p {
    margin:2%;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
}
/* MAIN DIVISION SETTINGS*/
.wrapper {
    min-width:500px;
    max-width:1200px;
    margin:20px auto 0px auto;
    background-color: white;
    font-family: 'Calibri';
    font-weight:lighter; 
}
/*-----------------------------------*/

/* HEADER */
header {
    font-size:250%;
    color: #fbfaf5; 
    min-width:500px;
}
header:after {
    content: "";
    display: block;
    clear: both;
}
#logo_format {
    width:180px;
    height:auto;
    float:left;
}
/*-----------------------------------*/


/*NAVIGATION MENU*/
nav {
    font-size:1.7rem;
    background-color: rgb(106, 105, 105);
    color: white;
    float:right;
    clear:both;
    margin-left:180px;
}
nav:hover{
    width: 84%;
}

nav:hover ul{
    display:block;                  /* items appear on hover */
    position:relative;
    float:right;
    text-align:left;
    width:100%;                     /* get width of parent element (nav) otherwise text width is taken */
}

nav>ul:first-child {                /* only affects the first child of the ul in nav (MENU)*/
    margin:8px 0px 8px 8px;
    text-align: center;
    letter-spacing: 0.4rem;
}
nav li ul {                         /* only affects the unordered list inside the li MENU*/ 
    display:none;                   /* items normally hide */
    background-color: rgb(105, 167, 59);
    padding-bottom: 20px;
}
nav li li{                          /* intems inside the navigation */
    font-size: 4rem;
    margin: 2% 0% 0% 2%;
}
/*-----------------------------------*/


/* BALL CONTAINER */
#ball_container{
    margin:10% 10% 10% 10%;
    display:flex;
    gap: 2%;
    flex-wrap: wrap;
    font-size: 28px;  /* this is the base unit used for reference (rem values would be scaled based on this)*/
}

/* we use 6 classes of balls to have enough flexibility to show some asymmetry */
/* .b1 .b2 .b3 (small to big) .b22 as big as b2 but diff margin, .b12 as big as b1 but diff margin */
/* .b13 as big as b1 but diff margin than .b1 and .b12 */
.b1{
    height: 75px;
    width: 75px;
    background-color: rgb(151, 151, 151);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}
.b2{
    height: 135px;
    width: 135px;
    background-color: rgb(106, 105, 105);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}
.b3{
    height: 235px;
    width: 235px;
    background-color: rgb(105, 167, 59);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}
.b3 > p{
    text-align: center;
    margin-top: 2.2em;
    font-size: 2rem;
}
.b2 > p, .b21 > p, .b22 > p{
    text-align: center;
    color:white;
    font-size: 1rem;
    margin-top: 2.8rem;
    font-weight: bold;
}
.b1 > p, .b12 > p, .b13 > p{
    text-align: center;
    color:black;
    font-size: 0.6rem;
    margin-top: 1.5rem;
    font-weight:bold;
}
.b21{
    height: 135px;
    width: 135px;
    background-color: rgb(106, 105, 105);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:4em;
}
.b12{
    height: 65px;
    width: 65px;
    background-color: rgb(151, 151, 151);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:8em;
}
.b13{
    height: 65px;
    width: 65px;
    background-color: rgb(151, 151, 151);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:6em;
}
.b22{
    height: 135px;
    width: 135px;
    background-color: rgb(106, 105, 105);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:3em;
}
/* the html tag <b> was not enough so a increase in the font weight */
b{  
    font-weight: bolder;
}
/*-----------------------------------*/


/* INTRO CONTAINER */
#intro_container {
    display: flex;
    margin-left:10%;
    flex-grow: 1;
}
#photo{
    max-width: 8rem;
}

#greetings{
    line-height: 3rem;
}

#greetings > p:first-child{
    font-size: x-large;
}
#greetings > p:nth-child(2) {
    color: rgb(105, 167, 59);
    font-size: 4rem;
    font-weight:900;
    line-height: 4rem;
}
/*-----------------------------------*/


/* ABOUT CONTAINER */

#about_container {
    display: flex;
    gap: 2rem;
    max-width:800px;
    line-height: 1.8rem;
    margin-left:10%;
    font-size: 1.1rem;
}
.title{
    margin-left:10%;
    color:rgb(105, 167, 59);
    font-size: 3rem;
    font-weight: bolder;
}


/*---------------------*/
/* TIMELINE CONTAINER */
/*---------------------*/
.timeline_container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
/* to be applied to every entry container "single-timeline" and
   to the text container with span tag: "timeline-text" */
.d-flex-2{
    display: flex;
    align-items: center;
}

/* Parent of all timelines entries, this setting avoid overlapping of entries (its child items)
   each child-item keeps its position to the each other and the parent*/
.all-timelines{
    position:relative; 
}

/* Vertical thin line */
/* First :: is used to represent pseudo elements and single semicolon : to represent pseudoclass */
/* eg. ::before and ::after vs :hover. WARNING before and after don't work with img (they are content!)*/
/* is placing a single a vertical line inside .all-timelines but just before its content*/
.all-timelines::before{
    content:""; /* the content of the pseudo element is empty */
    position: absolute; /* required so vertical line do not interfere with layout of timeline entries*/
    left: 0px;
    right: 0px;
    margin: auto; /* combination of left 0, right 0 and margin auto places it in the middle */
    height: 100%; /* height of parent element (timeline_container)*/ 
    width: 2px;
    background: rgb(105, 167, 59);
    top: 20px;
}
.single-timeline{
    margin-bottom: 22px; /* This gives the vertical space between two consecutive timeline entries */
}
.timeline-blank{
    width:50%;          /* This element is introduced to occupy the blank spaces in the timeline */
}
.timeline-text h6{      /* format of h6 inside .timeline-text element */
    color: rgb(106, 105, 105); 
    font-weight: 900;
    display: inline-block;
    font-size: 1rem;
}
.timeline-text span{    /* format of span inside .timeline-text element */
    color: #000;
    display: block;
    width: 100%;
}
.single-timeline:nth-child(even)
.timeline-text span{
    text-align: right; /* only the even entries text are align to the right */
}
.t-square{
    content:"";
    position:absolute; /* required so square marker do not interfere with layout of timeline entries */
    width: 12px;
    height: 12px;
    left: 0px;
    right: 0px;
    margin:auto;   /* combination of left 0, right 0 and margin auto places it in the middle */
    background: rgb(105, 167, 59);
    border-radius: 50%;
}
.single-timeline:nth-child(even){
    flex-direction: row-reverse;  /* interchanges timeline blank with timeline-text for even entries */
}
.single-timeline:nth-child(even) /* format of even entries */
.timeline-text{
    width:50%; 
    text-align: right;
    margin-right: 3%;
}
.single-timeline:nth-child(odd) /* format of odd entries */
.timeline-text{
    width:50%;
    text-align: left;
    margin-left: 3%;
}


/* This media query changes the layout of the timeline so it can properly fit small screens */
/* Transition occurs at the width of: 768px */
@media all and (max-width: 768px) { 
	.all-timelines::before { /* so vertical line gets default alignment: goes to the left */
		right: unset;
		top: 0;
	}
	/* text of odd entries gets new settings */
	.single-timeline:nth-child(n) .timeline-text {
        margin-left: 5%;
        width:100%;
	}
	/* text of even entries gets new settings */
	.single-timeline:nth-child(2n) .timeline-text {
        margin-left: 5%;
        width:100%;
	}
    .single-timeline:nth-child(2n) .timeline-text span {
        text-align: left; /* even entries now align to left when no there is not enough space */
	}
	.single-timeline:nth-child(n) .t-square { /* changes odd orange squares to the left */
		left: -5px;
		right: unset;
	}
	.single-timeline:nth-child(2n) .t-square { /* changes even orange squares to the left */
		left: -5px;
		right: unset;
	}
	.timeline-blank {
		display: none;  /* we don't need to intercalate timeline entries with blank entries when we have no space */
	}

}

footer > a{
    color:rgb(85,84,84);
    font-weight: bolder;
}
footer{
    margin-top:20px;
    margin-bottom:20px;
}