/*GLOBAL SETTINGS*/
/*This design was inspired by one of the Exercises of Sofie Bereens
https://how.studio/ */

/* RGB(VERDE) 105 167 59 */
/* RGB(LIGHT GRAY) 106 105 105 */
/* RGB(DARK GRAY) 85 84 84 */

p {
    margin:2%;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
}
/* MAIN DIVISION SETTINGS*/
.wrapper {
    min-width:500px;
    max-width:1200px;
    margin:20px auto 0px auto;
    background-color: white;
    font-family: 'Calibri';
    font-weight:lighter; 
}
/*-----------------------------------*/

/* HEADER */
header {
    font-size:250%;
    color: #fbfaf5; 
    min-width:500px;
}
header::after {
    content: "";
    display: block;
    clear: both;
}
#logo_format {
    width:180px;
    height:auto;
    float:left;
}
/*-----------------------------------*/

/*NAVIGATION MENU*/
nav {
    font-size:1.7rem;
    background-color: rgb(106, 105, 105);
    color: white;
    float:right;
    margin-left:80%;                /* so the navigation menu occupies the whole horizontal line */
}
nav:hover{
    width: 83%;
}
nav:hover ul{
    display:block;                  /* items appear on hover */
    position:relative;
    float:right;
    text-align:left;
    width:100%;                     /* get width of parent element (nav) otherwise text width is take */
    z-index:1;
}

nav>ul:first-child {                /* only affects the first child of the ul in nav (MENU)*/
    margin:8px 0px 8px 8px;
    text-align: center;
    letter-spacing: 0.4rem;
}
nav li ul {                         /* only affects the unordered list inside the li MENU*/ 
    display:none;                   /* items normally hide */
    background-color: rgb(105, 167, 59);
    padding-bottom: 20px;
}
nav li li{                          /* intems inside the navigation */
    font-size: 4rem;
    margin: 2% 0% 0% 1%;
}
/*-----------------------------------*/

/*TABLE EDITION*/

form{
    content: " ";
    clear:both;   /* so the form comes after the menu*/
    justify-content: space-between;
}
#legend{
    margin-left:3%;
}
#mondrian_table{
    border-collapse:collapse;
    width:500px;
    height:500px;
    table-layout: fixed; /* so avoid distorsion when filling up the form */
    margin-right:20%;
}
td, th{
    border:6px solid;
    /*overflow: hidden; */
}
.redbox{
    background-color: red;
    width: 50px;
}
.bluebox{
    background-color: blue;
}
.yellowbox{
    background-color: yellow;
}
.blackbox{
    background-color: black;
}
.narrow{
    width:5%;
}
.medium{
    width:10%;
}
.dwarf{
    height:7%;
}


/*FORM EDITION */

#legend{
    font-size:large;
}
#legend ul li{
    margin:60px 60px 60px 0px;
}

#legend ul li:nth-child(2){
    color:red;
    text-shadow: 0 0 2px #000000, 0 0 1px #FFFF00;
    font-weight: bold;
}

#legend ul li:nth-child(3){
    color:yellow;
    text-shadow: 0 0 2px #000000, 0 0 1px #0000FF;
    font-weight: bold;
}
#legend ul li:last-child{
    color:blue;
    text-shadow: 0 0 2px #00FF00, 0 0 1px #000000;
    font-weight: bold;
}

#comments{
    position: absolute;
    background-color: red;
    color: rgb(252, 252, 252); /* soft constrast */
    margin:10px;
    border:none;
    height:200px;
    width:240px;
    resize:none;
}

#email{
    position:absolute;
    margin:3px;
    vertical-align: middle;
    background-color: yellow;
    border:none;
    width:130px;
    height:90px;
    resize: none;
}
#submit{
    position: absolute;
    background-color: blue;
    color:white;
    height:116px;
    width:141px;
}
#reset{
    position: absolute;
    background-color: black;
    color:white;
    height:55px;
    width:128px;
}
#feedback{
    margin:10px;
    line-height: 20px;;
    position: absolute;
    background-color: black;
    color:seashell;
    border:none;
    width:100px;
    height:100px;
    resize: none;
    display: none;
}

footer > a{
    color:rgb(85,84,84);
    font-weight: bolder;
}
footer{
    margin-top:20px;
    margin-bottom:20px;
}