/*GLOBAL SETTINGS*/
/*This design was inspired by the How&How webpage:
https://how.studio/ */

/* RGB(VERDE) 105 167 59 */
/* RGB(LIGHT GRAY) 106 105 105 */
/* RGB(DARK GRAY) 85 84 84 */

p {
    margin:2%;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
}
/* MAIN DIVISION SETTINGS*/
.wrapper {
    min-width:500px;
    max-width:1200px;
    margin:20px auto 0px auto;
    background-color: white;
    font-family: 'Calibri';
    font-weight:lighter; 
}
/*-----------------------------------*/

/* HEADER */
header{
    font-size:250%;
    color: #fbfaf5; 
    min-width:500px;
}
header:after {
    content: "";
    display: block;
    clear: both;
}
#logo_format {
    width:180px;
    height:auto;
    float:left;
}
/*-----------------------------------*/

/*NAVIGATION MENU*/
nav {
    font-size:1.7rem;
    background-color: rgb(106, 105, 105);
    color: white;
    float:right;
    margin-left:80%;                /* so the navigation menu occupies the whole horizontal line */
}
nav:hover{
    width: 83%;
}
nav:hover ul{
    display:block;                  /* items appear on hover */
    position:relative;
    float:right;
    text-align:left;
    width:100%;                     /* get width of parent element (nav) otherwise text width is take */
    z-index:1;
}

nav>ul:first-child {                /* only affects the first child of the ul in nav (MENU)*/
    margin:8px 0px 8px 8px;
    text-align: center;
    letter-spacing: 0.4rem;
}
nav li ul {                         /* only affects the unordered list inside the li MENU*/ 
    display:none;                   /* items normally hide */
    background-color: rgb(105, 167, 59);
    padding-bottom: 20px;
}
nav li li{                          /* intems inside the navigation */
    font-size: 4rem;
    margin: 2% 0% 0% 1%;
}
/*-----------------------------------*/

/* IMAGES SLIDES */
/* SlideShow idea taken from: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_slideshow_self */
/* images size pixels: 1000 x 700 (then adjust canvas of images on GIMP accordingly)*/

#img_container{
    display:inline-block;
}
.mySlides{
    display:none; /* all figures are hiden by default*/
    width:60%;
    margin: 0% 0% 0% 0%;
    float:right;
    cursor:pointer;         /* so when the user hovers an image the cursor becomes a pointer */
}

/* LEGEND OF SLIDES AND NAVIGATION BUTTONS */
#legend_container{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
}
button{
    color:rgb(106, 105, 105);
    border:none;
    width:50px;
    height:50px;
}
button:hover{
    background-color: rgb(105, 167, 59);
    color: white;
    border:none;
}
#legend{
    width:500px;
}

/* POSTERS */

/* Cube poster */

.poster{
    width:60%;
    margin:15px;
}
.poster_title{
    text-align: center;
    font-family: 'Snell Roundhand, cursive';
    font-weight: bolder;
    font-size: 3rem;
    /*font-size:62px;*/
}
.aright{
    margin-left:auto;
}
.close{
    font-size:62px;
    font-weight: bold;
    transform:rotate(45deg);
    margin-left:auto;
    cursor:pointer;
    padding:0%;
}
.close:hover{
    color: #666;
}

#comoda_poster, #mesa_poster, #cube_poster, #sofamesa_poster, #shelfpufe_poster{
    flex-direction:column;
    margin-left:15%;
    width:60%;
    display:none;
}
footer > a{
    color:rgb(85,84,84);
    font-weight: bolder;
}
footer{
    margin-top:20px;
    margin-bottom:20px;
}

/* This media query changes the layout of the timeline so it can properly fit small screens */
/* Transition occurs at the width of: 768px */
@media all and (max-width: 768px) { 
	#img_container { 
        width:100%;
        display: inline-flex;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
        cursor:grab;
	}
    .mySlides{
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        user-select: none; /*avoids the user select it by mistake*/
    }
    #legend_container {
        right:0;
        left:0;
        margin:auto;
        display:block;
    }
    button{
        display:none;
    }
    .grabbing {
        cursor: grabbing;
    }
    .grabbing .mySlides img {
        transform: scale(0.9);
    }
}