/*GLOBAL SETTINGS*/
:root{
    /*--punch-color: rgb(105, 167, 59);*/
    --punch-color:pink;
    --light-grey: rgb(106, 105, 105);
    --dark-grey: rgb(85, 84, 84);
    --back-color: rgb(255, 255, 255);
    --typewriterSpeed: 2s;
    --typewriterCharacters: 28;
}
.wrapper{
    font-family:Gill Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px; /* metric reference for other measurements on parent div */
    z-index:0;
}
/*-----------------------------------*/
/*HEADER*/
header{
    display:inline-flex;
    flex-direction: column;
    text-align:center;
}
a.logo, a.logo:visited, a.logo:active {
    text-decoration:none;
}
#logo div:first-child, #logo div:nth-child(2){
    color: var(--dark-grey);
    background-color: var(--back-color);
}
#logo div:last-child{
    color: var(--back-color);
    background-color: var(--light-grey);
}
/*MENU*/
#menu{
    position:absolute;
    float:right;
    right:0;
    z-index:2;
    border-radius: 100%;
    border:none;
    color: var(--dark-grey);
    background-color: transparent; /*var(--back-color);*/
    padding:5px;
    transition: transform 1000ms ease;
}
.close{
    color: var(--back-color);
    float:right;
    height:50px;
    width:50px;
}
.menu_items {
    font-family:Gill Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:none;
    visibility: hidden;
    width:100%;
    height:100%;
    background-color: var(--punch-color);
    padding-left:5%;
    z-index:-1;
    transition: transform 1000ms ease;
}
.menu_items ul li a{
    text-decoration: none;
    color: var(--back-color);
}
.menu_items ul{
    margin-bottom: 5rem;
}
.menu_items a:hover{
    text-decoration: underline;
}
.myref{
    color: var(--back-color);
    text-decoration: none;
}
#foot_ref{
    color: var(--dark-grey);
    text-decoration: none;
}

/*HOME PHRASE*/
.home_phrase{
    font-family:Gill Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.align_right{
    text-align:right;
}
/*CONTACT*/
#bigform_container{
    font-family:Gill Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:10%;
    display: block;
}
.contact{
    display:none;
}
#comments{
    font-family:Gill Sans, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#submit{
    width:max-content;
    color: var(--back-color);
    background-color: var(--light-grey);
}

#comments:focus, #fname:focus, #lname:focus, #email:focus{
    outline: none !important;
    border:1.5px solid var(--punch-color);
}
/*ABOUT ME*/
/*https://www.youtube.com/watch?v=w1nhwUGsG6M&ab_channel=KevinPowellKevinPowell*/
.greetings{
    text-align: center;
    width: 80%;
    margin:auto;
    margin-top:4rem;
    margin-bottom:4rem;
}
.subtitle{
    margin:2rem;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
    color: var(--punch-color);
    display:flex;
    gap:1rem;
}

#profile_pic{
    width:30%;
    display:inline;
}
.subtitle p {
    display:inline;
    width:max-content;
    font-weight:500;
    align-self:center;
}
h1{
    position: relative;
    width:max-content;
    min-width:max-content;
    font-family: "Source Code Pro", monospace;
}
h1::before, h1::after{
    content:"";
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
h1::before{
    padding: 4%;
    background-color: var(--back-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}
h1::after {
    width: 0.125rem;
    background-color: var(--dark-grey);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, 
    blink 750ms steps(49) infinite;
}
@keyframes typewriter {
    to{
        left: 100%;
    }
}
@keyframes blink{
    to {
        background: transparent;
    }
}
@keyframes fadeInUp{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* BALL CONTAINER */
.ball_container{
    margin:10% 10% 10% 10%;
    display:flex;
    gap: 2%;
    flex-wrap: wrap;
    font-size: 28px;  /* this is the base unit used for reference (rem values would be scaled based on this)*/
    max-width: 1000px;
}

/* we use 6 classes of balls to have enough flexibility to show some asymmetry */
/* .b1 .b2 .b3 (small to big) .b22 as big as b2 but diff margin, .b12 as big as b1 but diff margin */
/* .b13 as big as b1 but diff margin than .b1 and .b12 */
.b1{
    height: 75px;
    width: 75px;
    background-color: var(--light-grey);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}
.b2{
    height: 135px;
    width: 135px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}
.b3{
    height: 235px;
    width: 235px;
    background-color: var(--punch-color);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
}
.b3 > p{
    text-align: center;
    margin-top: 4.5rem;
    font-size: 2rem;
}
.b2 > p, .b21 > p, .b22 > p{
    text-align: center;
    color:white;
    font-size: 1rem;
    margin-top: 2.8rem;
    font-weight: bold;
}
.b1 > p, .b12 > p, .b13 > p{
    text-align: center;
    color:black;
    font-size: 0.6rem;
    margin-top: 1.5rem;
    font-weight:bold;
}
.b21{
    height: 135px;
    width: 135px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:4em;
}
.b12{
    height: 65px;
    width: 65px;
    background-color: var(--light-grey);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:8em;
}
.b13{
    height: 65px;
    width: 65px;
    background-color: rgb(151, 151, 151);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:6em;
}
.b22{
    height: 135px;
    width: 135px;
    background-color: var(--dark-grey);
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-top:3em;
}
/* the html tag <b> was not enough so a increase in the font weight */
b{  
    font-weight: bolder;
}
.intro, #me{
    display:flex;
    flex-direction: column;
    gap:1rem;
    margin:5%;
}
.intro > p{
    color: var(--dark-grey);
}
#me{
    color: var(--light-grey);
    line-height: 1.5rem;
}

/*TIMELINE CONTAINER*/
.timeline_container{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.title > p{
    color: var(--dark-grey);
    margin:5%;
}
/* to be applied to every entry container "single-timeline" and
   to the text container with span tag: "timeline-text" */
.d-flex-2{
    display: flex;
    align-items: center;
}

/* Parent of all timelines entries, this setting avoid overlapping of entries (its child items)
   each child-item keeps its position to the each other and the parent*/
.all-timelines{
    position:relative; 
}

/* Vertical thin line */
/* First :: is used to represent pseudo elements and single semicolon : to represent pseudoclass */
/* eg. ::before and ::after vs :hover. WARNING before and after don't work with img (they are content!)*/
/* is placing a single a vertical line inside .all-timelines but just before its content*/
.all-timelines::before{
    content:""; /* the content of the pseudo element is empty */
    position: absolute; /* required so vertical line do not interfere with layout of timeline entries*/
    left: 0px;
    right: 0px;
    margin: auto; /* combination of left 0, right 0 and margin auto places it in the middle */
    height: 100%; /* height of parent element (timeline_container)*/ 
    width: 2px;
    background: var(--punch-color);
    top: 20px;
}
.single-timeline{
    margin-bottom: 22px; /* This gives the vertical space between two consecutive timeline entries */
}
.timeline-blank{
    width:50%;          /* This element is introduced to occupy the blank spaces in the timeline */
}
.timeline-text h6{      /* format of h6 inside .timeline-text element */
    color: var(--light-grey);
    font-weight: 900;
    display: inline-block;
    font-size: 1rem;
}
.timeline-text span{    /* format of span inside .timeline-text element */
    color: #000;
    display: block;
    width: 100%;
}
.single-timeline:nth-child(even)
.timeline-text span{
    text-align: right; /* only the even entries text are align to the right */
}
.t-square{
    content:"";
    position:absolute; /* required so square marker do not interfere with layout of timeline entries */
    width: 12px;
    height: 12px;
    left: 0px;
    right: 0px;
    margin:auto;   /* combination of left 0, right 0 and margin auto places it in the middle */
    background: var(--punch-color);
    border-radius: 50%;
}
.single-timeline:nth-child(even){
    flex-direction: row-reverse;  /* interchanges timeline blank with timeline-text for even entries */
}
.single-timeline:nth-child(even) /* format of even entries */
.timeline-text{
    width:50%; 
    text-align: right;
    margin-right: 3%;
}
.single-timeline:nth-child(odd) /* format of odd entries */
.timeline-text{
    width:50%;
    text-align: left;
    margin-left: 3%;
}
.more{
    width:100%;
    background-color: var(--punch-color);
    color: var(--back-color);
    display:none;
}
.intro2{
    display:none;
}
/*PUBLICATIONS*/
#thesis_container{
    margin:1rem;
}

/*-----------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*HEADER*/
    .wrapper{
        max-width:400px;
        margin:auto;
    }
    header{
        line-height: 1.2rem;
        letter-spacing: 2px;
        width:min-content;
    }
    #logo div:first-child, #logo div:nth-child(2){
        font-size:0.6rem;
    }
    #logo div:last-child{
        font-size:0.8rem;
    }

    /*MENU*/
    #menu{
        font-size:2rem;
    }
    .menu_items {
        padding-top: 5rem;
        padding-bottom: 5rem;
        font-size:2.5rem;
        line-height: 5rem;
    }
    
    .myref{
        font-size: 1rem;
    }
    /*HOME PHRASE*/
    .home_phrase{
        font-size:1.0rem;
        margin:30% 10% 55% 10%; 
        line-height: 3rem;
    }
    /*FORM*/
    #form_container{
        display:flex;
        flex-direction: column;
        margin:10%;
    }
    .contact_images{
        padding-left:5%;
        margin: 5% 5% -10% 5%;
    }
    #img_mobile{
        width:95%;
        display:block;
        border-radius: 5%;
    }
    /*TIMELINE*/
	.all-timelines::before { /* so vertical line gets default alignment: goes to the left */
		right: unset;
		top: 0;
	}
	/* text of odd entries gets new settings */
	.single-timeline:nth-child(n) .timeline-text {
        margin-left: 5%;
        width:100%;
	}
	/* text of even entries gets new settings */
	.single-timeline:nth-child(2n) .timeline-text {
        margin-left: 5%;
        width:100%;
	}
    .single-timeline:nth-child(2n) .timeline-text span {
        text-align: left; /* even entries now align to left when no there is not enough space */
	}
	.single-timeline:nth-child(n) .t-square { /* changes odd orange squares to the left */
		left: -5px;
		right: unset;
	}
	.single-timeline:nth-child(2n) .t-square { /* changes even orange squares to the left */
		left: -5px;
		right: unset;
	}
	.timeline-blank {
		display: none;  /* we don't need to intercalate timeline entries with blank entries when we have no space */
	}
    /*PUBLICATIONS*/
    h2{
        font-size:1.5rem;
    }
    h3{
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #thesis_container img{
        width:100%;
    }

    #thesis_container p {
        line-height: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .wrapper{
        margin:1%;
    }
    /*HEADER*/
    header{
        font-size: 1.6rem;
        line-height: 2rem;
        width:min-content;
    }

    #logo div:first-child, #logo div:nth-child(2){
        font-size:1.2rem;
        letter-spacing: 6px;
    }
    #logo div:last-child{
        letter-spacing: 8px;
    }

    /*MENU*/
    #menu{
        font-size:3.0rem;
        letter-spacing:4px;
    }
    .menu_items {
        padding-top:8%;
        padding-bottom:8%;
        font-size:4rem;
        line-height: 7rem;
    }
    .myref{
        font-size: 1.6rem;
    }
    /*HOME PHRASE*/
    .home_phrase{
        margin:30% 10%; 
        font-size:2.2rem;
        line-height: 5rem;
    }
    /*FORM*/
    #bigform_container{
        width:80%;
        margin:0% 10%;
    }
    #form_container{
        font-family:'Corbel';
        width:40%;
        margin:10%;
        display:flex;
        flex-direction: column;
    }
    .contact_images{
        margin-bottom: 30%;
    }
    #img_ipad{
        width:35%;
        display:block;
        float:right;
        border-radius: 5%;
    }
    .greetings{
        font-size: 2rem;
    }
    .ball_container{
        width:90%;
        margin:auto;
    }
    /*PUBLICATIONS*/
    #thesis_container{
        margin: 3rem;
    }
    h2{
        font-size:3rem;
        line-height: 3rem;
    }
    h3{
        font-size:1.5rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #thesis_container img{
        width:100%;
    }

    #thesis_container p {
        font-size:1.3rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /*HEADER*/
    header{
        font-size: 1.6rem;
        line-height: 2rem;
        width:min-content;
    }

    #logo div:first-child, #logo div:nth-child(2){
        font-size:1.2rem;
        letter-spacing: 6px;
    }
    #logo div:last-child{
        letter-spacing: 8px;
        padding-left:4px;
    }

    /*MENU*/
    #menu{
        font-size:4.4rem;
        letter-spacing:49px;
    }
    .close{
        height:100px;
        width:100px;
    }
    .menu_items {
        padding-top:10%;
        padding-bottom:10%;
        float:right;
        width:45%;
        font-size:5rem;
        line-height: 6rem;
    }
    .myref{
        font-size: 1.5rem;
    }
    .home_phrase{
        margin:10% 10%; 
        font-size:3.0rem;
        line-height: 6rem;
    }
    /*FORM*/
    #bigform_container{
        width:80%;
        margin:0% 10%;
        display: flex;
        flex-direction: row-reverse;
    }
    #form_container{
        font-family:'Corbel';
        width:80%;
        margin-top:15%;
        display:flex;
        flex-direction: column;
        max-width:400px;
    }
    #img_ipad{
        display:none;
    }
    .contact_images{
        margin:10% 0%;
    }
    #img_desktop{
        width:100%;
        display:block;
        float:right;
        border-radius: 5%;
    }
    .greetings{
        font-size: 1rem;
        max-width:500px;
    }
    .f1{
        display:flex;
    }
    .laptops{
        display:flex;
        flex-direction: column;
        width:50%;
    }
    .ball_container{
        width:90%;
    }
    .intro{
        display:none;
    }
    .part1{
        display:flex;
    }
    .intro2{
        display:block;
        width:50%;
        margin-top:6.5%;
        margin-right:6.5%;
        opacity: 0;
        transform: translateY(3rem);
        animation:fadeInUp 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
    }
   .subtitle{
       margin-top:20%;
   }
    /*PUBLICATIONS*/
    #thesis_container{
        margin: 3rem;
    }
    h2{
        font-size:3rem;
        line-height: 3rem;
    }
    h3{
        font-size:1.5rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #thesis_container img{
        width:100%;
    }

    #thesis_container p {
        font-size:1.3rem;
        line-height: 2rem;
        margin:0;
    }
    #flow > p + * {
        margin-top: var(--flow-spacer, 2rem);
    }
    .paragraphs{
        columns: 100px 2;
    }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    /*HEADER*/
    header{
        font-size: 1.6rem;
        line-height: 2rem;
        width:min-content;
    }

    #logo div:first-child, #logo div:nth-child(2){
        font-size:1.4rem;
        letter-spacing: 6px;
    }
    #logo div:last-child{
        letter-spacing: 8px;
    }

    /*MENU*/
    #menu{
        font-size:6.4rem;
        letter-spacing:12px;
    }
    .menu_items {
        padding-top:12%;
        padding-bottom:15%;
        float:right;
        font-size:6rem;
        line-height: 8rem;
        height:100%;
    }
    .close{
        height:200px;
        width:200px;
    }
    .myref{
        font-size: 1.5rem;
    }
    .home_phrase{
        margin:10% 15%; 
        font-size:4.0rem;
        line-height: 8rem;
        max-width:1400px;
    }
    /*FORM*/
    #bigform_container{
        width:80%;
        margin:0% 10%;
        display: flex;
        flex-direction: row-reverse;
        gap:5%;
    }
    #form_container{
        font-family:'Corbel';
        width:80%;
        display:flex;
        flex-direction: column;
        max-width:400px;
        margin-top:20%;
    }
    #img_ipad, #img_desktop{
        display:none;
    }
    .contact_images{
        margin:10% 0%;
    }
    #img_bigdesktop{
        width:100%;
        float:right;
        display:block;
        border-radius: 5%;
    }
    .greetings{
        font-size: 1.5rem;
        max-width:500px;
    }
    .f1{
        display:flex;
    }
    .laptops{
        display:flex;
        flex-direction: column;
        width:50%;
    }
    .ball_container{
        width:100%;
    }
    .intro{
        display:none;
    }
    .part1{
        display:flex;
    }
    .intro2{
        font-size: 1.5rem;
        display:block;
        width:60%;
        padding:0;
        margin-top:3.0%;
        margin-right:6.5%;
        opacity: 0;
        transform: translateY(3rem);
        animation:fadeInUp 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
    }
    .intro2 p {
        line-height: 2rem;
    }
    .title p {
        font-size: 1.5rem;
        margin-left: 7%;
    }
   .subtitle{
       margin-top:20%;
   }
   .timeline_container{
       font-size: 1.5rem;
   }
    /*PUBLICATIONS*/
    #thesis_container{
        margin: 3rem;
        max-width:1200px;
        margin:auto;
    }
    h2{
        font-size:4rem;
        line-height: 4rem;
    }
    h3{
        font-size:2rem;
        line-height: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #thesis_container img{
        width:100%;
    }

    #thesis_container p {
        font-size:1.5rem;
        line-height: 2.4rem;
        margin:0;
    }
    #flow > p + * {
        margin-top: var(--flow-spacer, 2rem);
    }
    .paragraphs{
        columns: 2;
        column-gap: 2rem;
    }
    .thesiscover{
        margin-bottom:2rem;
    }
}