/*GLOBAL SETTINGS*/
:root{
    --punch-green: rgb(105, 167, 59);
    --light-grey: rgb(106, 105, 105);
    --dark-grey: rgb(85, 84, 84);
    --back-color: rgb(255, 255, 255);
}

.wrapper{
    font-family:'Corbel';
    font-weight: lighter; 
    font-size:16px; /* metric reference for other measurements on parent div */
    z-index:0;
}
/*-----------------------------------*/
/*HEADER*/
header{
    display:inline-flex;
    flex-direction: column;
    text-align:center;
}
a.logo, a.logo:visited, a.logo:active {
    text-decoration:none;
}
#logo div:first-child, #logo div:nth-child(2){
    color: var(--dark-grey);
    background-color: var(--back-color);
}
#logo div:last-child{
    color: var(--back-color);
    background-color: var(--light-grey);
}
/*MENU*/
#menu{
    position:absolute;
    float:right;
    right:0;
    z-index:2;
    border-radius: 100%;
    border:none;
    color: var(--dark-grey);
    background-color: transparent; /*var(--back-color);*/
    padding:5px;
    transition: transform 1000ms ease;
}

.close{
    color: var(--back-color);
    float:right;
    height:50px;
    width:50px;
}
.menu_items {
    font-family:'Corbel';
    display:none;
    visibility: hidden;
    width:100%;
    height:100%;
    background-color: var(--punch-green);
    padding-left:5%;
    z-index:-1;
    transition: transform 1000ms ease;
}
.menu_items a{
    text-decoration: none;
    color: var(--back-color);
}
.menu_items a:hover{
    text-decoration: underline;
}

.myref{
    color: var(--dark-grey);
    text-decoration: none;
}
/*HOME PHRASE*/
.home_phrase{
    font-family:'Corbel';
}

.align_right{
    text-align:right;
}
/*-----------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*HEADER*/
    .wrapper{
        max-width:400px;
        margin:auto;
    }
    header{
        line-height: 1.2rem;
        letter-spacing: 2px;
        width:min-content;
    }
    #logo div:first-child, #logo div:nth-child(2){
        font-size:0.6rem;
    }
    #logo div:last-child{
        font-size:0.8rem;
    }

    /*MENU*/
    #menu{
        font-size:2rem;
    }
    .menu_items {
        padding-top: 4rem;
        padding-bottom: 4rem;
        font-size:2.5rem;
        line-height: 5rem;
    }
    
    .myref{
        font-size: 1rem;
        text-decoration: none;
    }
    /*HOME PHRASE*/
    .home_phrase{
        font-size:1.0rem;
        margin:30% 10% 55% 10%; 
        line-height: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .wrapper{
        margin:1%;
    }
    /*HEADER*/
    header{
        font-size: 1.6rem;
        line-height: 2rem;
        width:min-content;
    }

    #logo div:first-child, #logo div:nth-child(2){
        font-size:1.2rem;
        letter-spacing: 6px;
    }
    #logo div:last-child{
        letter-spacing: 8px;
    }

    /*MENU*/
    #menu{
        font-size:3.0rem;
        letter-spacing:4px;
    }
    .menu_items {
        padding-top:8%;
        padding-bottom:8%;
        font-size:4rem;
        line-height: 7rem;
    }
    .myref{
        font-size: 1.6rem;
    }
    /*HOME PHRASE*/
    .home_phrase{
        margin:30% 10%; 
        font-size:2.2rem;
        line-height: 5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /*HEADER*/
    header{
        font-size: 1.6rem;
        line-height: 2rem;
        width:min-content;
    }

    #logo div:first-child, #logo div:nth-child(2){
        font-size:1.2rem;
        letter-spacing: 6px;
    }
    #logo div:last-child{
        letter-spacing: 8px;
        padding-left:4px;
    }

    /*MENU*/
    #menu{
        font-size:4.4rem;
        letter-spacing:49px;
    }
    .close{
        height:100px;
        width:100px;
    }
    .menu_items {
        padding-top:10%;
        padding-bottom:10%;
        float:right;
        width:50%;
        font-size:5rem;
        line-height: 6rem;
    }
    .myref{
        font-size: 2.2rem;
    }
    .home_phrase{
        margin:10% 10%; 
        font-size:3.0rem;
        line-height: 6rem;
    }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    /*HEADER*/
    header{
        font-size: 1.6rem;
        line-height: 2rem;
        width:min-content;
    }

    #logo div:first-child, #logo div:nth-child(2){
        font-size:1.4rem;
        letter-spacing: 6px;
    }
    #logo div:last-child{
        letter-spacing: 8px;
    }

    /*MENU*/
    #menu{
        font-size:6.4rem;
        letter-spacing:12px;
    }
    .menu_items {
        padding-top:15%;
        padding-bottom:15%;
        float:right;
        font-size:6rem;
        line-height: 8rem;
        height:100%;
    }
    .close{
        height:200px;
        width:200px;
    }
    .myref{
        font-size: 2.2rem;
    }
    .home_phrase{
        margin:10% 15%; 
        font-size:4.0rem;
        line-height: 8rem;
        max-width:1400px;
    }
}